<footer class="bg-white text-gray-600 py-4 border-t border-gray-300 text-center mt-10">
    <p class="mb-2">© 2024 KPICompany. All rights reserved</p>
    <nav class="mt-2">
        <ul class="flex justify-center space-x-4">
            <li>
                <a [routerLink]="['/privacy']" routerLinkActive="text-gray-900"
                class="hover:text-gray-900 transition-colors duration-200">Privacy Policy</a>
            </li>
            <li>
                <a [routerLink]="['/terms']" routerLinkActive="text-gray-900"
                class="hover:text-gray-900 transition-colors duration-200">Terms of Service</a>
            </li>
            <li>
                <a [routerLink]="['/contacts']" routerLinkActive="text-gray-900"
                class="hover:text-gray-900 transition-colors duration-200">Contact Us</a>
            </li>
        </ul>
    </nav>
</footer>