<header class="bg-white shadow-md py-4 mb-8">
    <div class="container mx-auto flex items-center justify-between px-6">
        <a [routerLink]="['/home']" class="text-3xl font-bold text-gray-900 hover:text-gray-700 transition-colors"><img src="../../../favicon.ico" width="80%" /></a>
        <nav class="flex items-center space-x-8">
            <ul class="flex space-x-6 items-center">
                <li>
                    <a [routerLink]="['/home']" routerLinkActive="text-gray-900" [routerLinkActiveOptions]="{ exact: true }"
                       class="hover:text-gray-900 transition-colors duration-200">Menu</a>
                </li>
                <li>
                    <a [routerLink]="['/sizes']" routerLinkActive="text-gray-900"
                       class="hover:text-gray-900 transition-colors duration-200">Sizes</a>
                </li>
                <li>
                    <a [routerLink]="['/ingridient']" routerLinkActive="text-gray-900"
                       class="hover:text-gray-900 transition-colors duration-200">Ingredients</a>
                </li>
                <li>
                    <a [routerLink]="['/orders']" routerLinkActive="text-gray-900"
                       class="hover:text-gray-900 transition-colors duration-200">Orders</a>
                </li>
            </ul>
        </nav>
    </div>
</header>